{%  set page = {'Title':'Games','breadCrumbs': {'Home' : {'text':'Home','url':'/'} } } %}
{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Game list</h1>
            <div class="portlet portlet-orange">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Hoverable Responsive Table</h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-hover records_list">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Publishdate</th>
                                <th>Imagefolder</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}
                            <tr>
                                <td><a href="{{ path('game_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                <td>{% if entity.publishDate %}{{ entity.publishDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{{ entity.imageFolder }}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('game_show', { 'id': entity.id }) }}">show</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('game_edit', { 'id': entity.id }) }}">edit</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.portlet -->



        <ul>
        <li>
            <a href="{{ path('game_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
