{%  set page = {'Title':'New Game','breadCrumbs': {'Home' : {'text':'Home','url':'/'},'Games' : {'text':'Games','url': url('game') } } } %}
{% extends '::base.html.twig' %}
{% block stylesheets %}<link href="{{ asset('css/plugins/bootstrap-datepicker/datepicker3.css') }}" rel="stylesheet">{% endblock %}
{% block extra_javascripts %}<script src="{{ asset('js/plugins/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>{% endblock %}
{% block body -%}

    <div class="portlet portlet-red">
        <div class="portlet-heading">
            <div class="portlet-title">
                <h4>New Game Data</h4>
            </div>
            <div class="portlet-widgets">
                <a href="#formControls" data-parent="#accordion" data-toggle="collapse"><i class="fa fa-chevron-down"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-collapse collapse in" id="formControls">
            <div class="portlet-body">
                <form action="{{ url('game_create') }}" class="form-horizontal" method="post" name="game">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="publishDate">{{ form_label(form.publishDate) }}</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.publishDate) }}
                        </div>
                    </div>
                    <!--TODO:Image Manager-->
                    <div class="portlet portlet-purple">
                        <div class="portlet-heading">
                            <div class="portlet-title">
                                <h4>Text / Description</h4>
                            </div>
                            <div class="portlet-widgets">
                                <ul class="list-inline tabbed-portlets" id="myTab">
                                    {% for language in languages %}
                                    <li{% if loop.first %} class="active"{% endif %}><a data-toggle="tab" href="#tab{{ loop.index }}" class="btn btn-xs btn-default">{{ language.name }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <span class="divider"></span>
                                <a href="portlets.html#purplePortlet" data-parent="#accordion" data-toggle="collapse"><i class="fa fa-chevron-down"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="panel-collapse collapse in" id="purplePortlet">
                            <div class="portlet-body">
                                <div class="tab-content" id="myTabContent">
                                    {% for i18n in form.gameI18n %}
                                    <div id="tab{{ loop.index }}" class="tab-pane fade {% if loop.first %}active{% endif %} in">
                                        <div class="">
                                            {{ form_label(i18n.name) }}
                                            <div class="col-sm-
                                                10">
                                                {{ form_widget(i18n.name) }}

                                            </div>
                                        </div>
                                        <div class="">
                                            {{ form_label(i18n.description) }}
                                            <div class="col-sm-
                                                10">
                                                {{ form_widget(i18n.description) }}

                                            </div>
                                        </div>
                                        {{ form_widget(i18n.language) }}

                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">&nbsp;</label>
                        <div class="col-sm-10">
                            <button class="btn btn-default pull-right" type="submit">Submit</button>
                        </div>
                    </div>
                {{ form_row(form._token) }}
                </form>
            </div>
        </div>
    </div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('game') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}
