{%  set page = {'Title':'New Edition','breadCrumbs': {'Home' : {'text':'Home','url':'/'},'Editions' : {'text':'Editions','url': url('edition') } } } %}
{% extends '::base.html.twig' %}
{% block stylesheets %}<link href="{{ asset('css/plugins/bootstrap-datepicker/datepicker3.css') }}" rel="stylesheet">{% endblock %}
{% block extra_javascripts %}<script src="{{ asset('js/plugins/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>{% endblock %}

{% block body -%}
<div class="portlet portlet-red">
    <div class="portlet-heading">
        <div class="portlet-title">
            <h4>New Edition Data</h4>
        </div>
        <div class="portlet-widgets">
            <a href="#formControls" data-parent="#accordion" data-toggle="collapse"><i class="fa fa-chevron-down"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-collapse collapse in" id="formControls">
        <div class="portlet-body">
            <form action="{{ url('game_create') }}" class="form-horizontal" method="post" name="game">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="publishDate">{{ form_label(form.publishDate) }}</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.publishDate) }}
                    </div>
                </div>
                <!--TODO:Image Manager-->


                <div class="form-group">
                    <label class="col-sm-2 control-label">&nbsp;</label>
                    <div class="col-sm-10">
                        <button class="btn btn-default pull-right" type="submit">Submit</button>
                    </div>
                </div>
                {{ form_row(form._token) }}
            </form>
        </div>
    </div>
</div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('edition') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
